<section>
  <div class="signup-container">
    <div class="signup">
      <div class="signup-content">
        <h1>Join Now!</h1>
        <p>Setup A New Account In A Minute</p>
      </div>
      <div class="signup-input">
        <input type="text" placeholder="enter you name" />
        <input type="number" placeholder="enter you phone number" />
        <input type="password" placeholder="enter you password" />
        <input type="checkbox" id="condition" name="condition" value="Bike" />
        <label for="condition">Accept all the Terms & Conditions</label><br />
        <button>Register</button>
      </div>
    </div>
    <div class="login">
      <a href="" class="btn">Login Here</a>
    </div>
  </div>
  <div class="signup-container">
    <div class="acount">
      <p>Already Have An Account?<a href="">Login Here</a></p>
    </div>
  </div>
  <div class="db"><p>Copyright © Digihaat</p></div>
</section>
