<section>
  <div class="container">
    <div class="details">
      <div class="categorys-items">
        <select name="searchCategory" class="radius-left">
          <option>All Categories</option>
          <option>Security Surveillance</option>
          <option>AC &amp; Home Appliance</option>
          <option>TV &amp; Speaker</option>
          <option>Home &amp; Audio Entertainment</option>
          <option>Smart Phone &amp; Tablets</option>
          <option>Gadgets &amp; Accessories</option>
          <option>Video Games &amp; Console</option>
          <option>Server &amp; Storage</option>
          <option>Software</option>
          <option>Router &amp; Network</option>
          <option>Office Equipment</option>
        </select>
        <a href=""
          ><a routerLink="detial"
            ><img src="../../../assets/nano.jpg" alt="camreas" /></a
        ></a>
      </div>
      <div class="middle-content">
        <a><img src="../../../assets/destop.jpg" alt="destop" /></a>
      </div>
      <div class="description">
        <h1>LG 22MP400-B 22-inch Full HD Monitor</h1>
        <div class="brand">
          <h4>Brand: LG</h4>
          <h4>Availability: <span>In stock</span></h4>
        </div>
        <div class="line"></div>
        <div class="wishlist">
          <a href=""><i class="fa-solid fa-heart"></i> Wishlist</a>
        </div>
        <div class="feature">
          <h3>Key Features</h3>
          <h4>Model: 22MP400-B</h4>
          <h4>Resolution: FHD (1920 x 1080)</h4>
          <h4>Display: VA, 75Hz, 5ms (GtG at Faster)</h4>
          <h4>Ports: 1x HDMI, 1x D-Sub</h4>
          <h4>Features: AMD Free Sync, Smart Energy Saving, Flicker Free</h4>
          <div class="cash">
            <input type="radio" />
            <div class="taka">
              <h2>10700 tk</h2>
              <p>Cash Discount Price</p>
              <p>Online / Cash Payment</p>
            </div>
          </div>
          <div class="price">
            <h1>Price : 10700 tk</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
