<header id="header">
  <nav class="navber">
    <div class="nav-left-area">
      <ul>
        <li>
          <span class="categoryMenu">
            <i class="fa-solid fa-bars categoryMenu"></i>
          </span>
        </li>
        <li>
          <a href="/" routerLink="/">
            <img
              src="../../../assets/haatlogo.png"
              alt="HaatLogo"
              class="logo"
            />
          </a>
        </li>
      </ul>
    </div>
    <!-- Navbar middle -->
    <div class="nav-middle-area">
      <div class="search-item">
        <div class="categorys-search">
          <select name="searchCategory" class="border-none p-1 radius-left">
            <option>All Categories</option>
            <option>Security Surveillance</option>
            <option>AC &amp; Home Appliance</option>
            <option>TV &amp; Speaker</option>
            <option>Home &amp; Audio Entertainment</option>
            <option>Smart Phone &amp; Tablets</option>
            <option>Gadgets &amp; Accessories</option>
            <option>Video Games &amp; Console</option>
            <option>Server &amp; Storage</option>
            <option>Software</option>
            <option>Router &amp; Network</option>
            <option>Office Equipment</option>
          </select>
        </div>
        <div class="search-input">
          <input
            id="searchInput"
            class="border-none p-1"
            type="text"
            placeholder="Search for Prod|"
            name="searchTerm"
            autocomplete="off"
            required=""
          />
        </div>
        <div class="search-btn">
          <button class="p-1 border-none radius-right">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </div>
    <!-- Navbar Right -->
    <div class="nav-right-area">
      <div class="nav-icon">
        <ul>
          <li>
            <a href="#">
              <i class="fa-solid fa-code-compare">
                <span>
                  <small class="list-count">00</small>
                </span>
              </i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa-solid fa-heart">
                <span>
                  <small class="list-count">00</small>
                </span>
              </i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa-solid fa-cart-shopping">
                <span>
                  <small class="list-count">01</small>
                </span>
              </i>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="sign-up-memu">
      <ul>
        <li>
          <a href="#"
            ><i class="fa-solid fa-phone custom-icon"></i> 01877796011</a
          >
        </li>
        <li>
          <a href="#"
            ><i class="fa-solid fa-location-dot custom-icon"></i> Location</a
          >
        </li>
        <li>
          <a routerLink="signup">Sign In</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Showcase -->

  <div class="shoecase-container">
    <div class="header-showcase">
      <div class="showcase-content">
        <h2>Show to get what you love</h2>
        <h1>
          <span style="display: block">Timepleces that</span>
          <span style="display: block">make a statement</span>
          <span style="display: block">up to 49% off</span>
        </h1>
        <a href="" class="btn">Start Buying</a>
      </div>
      <div class="showcase-image">
        <img src="../../../assets/sounddevice.png" alt="sounddevice" />
      </div>
    </div>
  </div>
</header>

<!-- Showcase end -->

<!-- Features -->

<section>
  <div class="container">
    <div class="features">
      <div class="boxs">
        <div class="box">
          <i class="fa-sharp fa-solid fa-truck"></i>
          <div class="box-content">
            <h2>Free Delivery</h2>
            <p>from $50</p>
          </div>
        </div>
        <div class="box">
          <i class="fa-solid fa-headset"></i>
          <div class="box-content">
            <h2>99% Positive</h2>
            <p>Feedbacks</p>
          </div>
        </div>
        <div class="box">
          <i class="fa-solid fa-arrows-rotate"></i>
          <div class="box-content">
            <h2>365 days</h2>
            <p>for free return</p>
          </div>
        </div>
        <div class="box">
          <i class="fa-solid fa-lock"></i>
          <div class="box-content">
            <h2>Payment</h2>
            <p>Secure System</p>
          </div>
        </div>
        <div class="box">
          <i class="fa-solid fa-tag"></i>
          <div class="box-content">
            <h2>Only Best</h2>
            <p>Brands</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Product big deals -->
<section>
  <div class="container">
    <div class="products">
      <div class="boxs">
        <div class="box">
          <a routerLink="detial"
            ><img src="../../../assets/cameras.png" alt="camreas"
          /></a>
          <div class="product-content">
            <h2>CATCH BIG DEALS ON THE CAMERAS</h2>
            <a href=""
              ><h3>Shop Now</h3>
              <span> <i class="fa-solid fa-angle-right"></i></span
            ></a>
          </div>
        </div>
        <div class="box">
          <a href=""><img src="../../../assets/cameras.png" alt="camreas" /></a>
          <div class="product-content">
            <h2>CATCH BIG DEALS ON THE CAMERAS</h2>
            <a href=""
              ><h3>Shop Now</h3>
              <span> <i class="fa-solid fa-angle-right"></i></span
            ></a>
          </div>
        </div>
        <div class="box">
          <a href=""><img src="../../../assets/cameras.png" alt="camreas" /></a>
          <div class="product-content">
            <h2>CATCH BIG DEALS ON THE CAMERAS</h2>
            <a href=""
              ><h3>Shop Now</h3>
              <span> <i class="fa-solid fa-angle-right"></i></span
            ></a>
          </div>
        </div>
        <div class="box">
          <a href=""><img src="../../../assets/cameras.png" alt="camreas" /></a>
          <div class="product-content">
            <h2>CATCH BIG DEALS ON THE CAMERAS</h2>
            <a href=""
              ><h3>Shop Now</h3>
              <span> <i class="fa-solid fa-angle-right"></i></span
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Products Weekly Deals -->

<section>
  <div class="container">
    <div class="products-deals-weekly">
      <h1>Deals Of The Week</h1>
      <div class="boxs">
        <div class="box">
          <div class="product-img">
            <a href="#"
              ><img src="../../../assets/router.webp" alt="router" /><span
                class="btn-circal"
                >save<span>0%</span></span
              >
            </a>
          </div>

          <div class="product-content">
            <a href="#">
              <h2>
                D-Link R15 AX1500 Wi-Fi 6 Eagle PRO AI Dual-Band Smart Router
              </h2>
              <h3 class="color-red">4456 TK <del>5%</del></h3>
            </a>
          </div>
        </div>
        <div class="box">
          <div class="product-img">
            <a href=""
              ><img src="../../../assets/cc.jpg" alt="camreas" />
              <span class="btn-circal">save<span>0%</span></span></a
            >
          </div>
          <div class="product-content">
            <a href="#">
              <h2>
                Dahua imou Ranger 2 IP Camera with 360 Degree Coverage
                (IPC-A22EP/IPC-A22EP-G)
              </h2>
              <h3 class="color-red">2505 TK <del>5%</del></h3>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="container">
  <div class="line"></div>
</div>
<!-- daily deals -->

<section>
  <div class="container">
    <div class="product-daily-deals">
      <div class="deals">
        <div class="content">
          <h1>Catch Daily Deals</h1>
          <div class="line"></div>
        </div>
        <div class="percent">
          <h4 class="active">-5%</h4>
          <a href="#category"><h4>-10%</h4></a>
        </div>
        <a href="#category">
          Go to daily deals section
          <span><i class="fa-solid fa-angle-right"></i></span>
        </a>
      </div>
      <div class="line-black"></div>
      <div class="cards">
        <div class="card">
          <a href="#">
            <h3>MSI Creator PS321URV 32" 16:9 4K HDR IPS Monitor</h3>
            <img src="../../../assets/destop.jpg" alt="destop" />
            <div class="price">
              <h2>
                98000 TK
                <span><del>5%</del></span>
              </h2>
              <i class="fa-solid fa-cart-shopping"></i>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="#">
            <h3>MSI Creator PS321URV 32" 16:9 4K HDR IPS Monitor</h3>
            <img src="../../../assets/router.webp" alt="router" />
            <div class="price">
              <h2>
                98000 TK
                <span><del>5%</del></span>
              </h2>
              <i class="fa-solid fa-cart-shopping"></i>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="#">
            <h3>MSI Creator PS321URV 32" 16:9 4K HDR IPS Monitor</h3>
            <img src="../../../assets/destop.jpg" alt="destop" />
            <div class="price">
              <h2>
                98000 TK
                <span><del>5%</del></span>
              </h2>
              <i class="fa-solid fa-cart-shopping"></i>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="#">
            <h3>MSI Creator PS321URV 32" 16:9 4K HDR IPS Monitor</h3>
            <img src="../../../assets/router.webp" alt="router" />
            <div class="price">
              <h2>
                98000 TK
                <span><del>5%</del></span>
              </h2>
              <i class="fa-solid fa-cart-shopping"></i>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="#">
            <h3>MSI Creator PS321URV 32" 16:9 4K HDR IPS Monitor</h3>
            <img src="../../../assets/destop.jpg" alt="destop" />
            <div class="price">
              <h2>
                98000 TK
                <span><del>5%</del></span>
              </h2>
              <i class="fa-solid fa-cart-shopping"></i>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Categorys  -->

<section id="category">
  <div class="container">
    <div class="cetegory-products">
      <div class="cards">
        <div class="card">
          <a href="#">
            <img src="../../../assets/cctvs.png" alt="CCTVS" />
            <h2>Security Surveillance</h2>
          </a>
        </div>
        <div class="card">
          <a href="#">
            <img src="../../../assets/achome.png" alt="AChome" />
            <h2>Security Surveillance</h2>
          </a>
        </div>
        <div class="card">
          <a href="#">
            <img src="../../../assets/tv.png" alt="CCTVS" />
            <h2>Security Surveillance</h2>
          </a>
        </div>
        <div class="card">
          <a href="#">
            <img src="../../../assets/cameras.png" alt="CCTVS" />
            <h2>Security Surveillance</h2>
          </a>
        </div>
        <div class="card">
          <a href="#">
            <img src="../../../assets/router.webp" alt="CCTVS" />
            <h2>Security Surveillance</h2>
          </a>
        </div>
        <div class="card">
          <a href="#">
            <img src="../../../assets/tv.png" alt="CCTVS" />
            <h2>Security Surveillance</h2>
          </a>
        </div>
        <div class="card">
          <a href="#">
            <img src="../../../assets/cctvs.png" alt="CCTVS" />
            <h2>Security Surveillance</h2>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Tranding Product -->

<section>
  <div class="container">
    <div class="product-daily-deals">
      <div class="deals">
        <div class="content">
          <h1>Trending products</h1>
          <div class="line"></div>
        </div>
        <a href="#category">
          Go to Trending products
          <span><i class="fa-solid fa-angle-right"></i></span>
        </a>
      </div>
      <div class="line-black"></div>
      <div class="cards">
        <div class="card">
          <a href="#">
            <h3>MSI Creator PS321URV 32" 16:9 4K HDR IPS Monitor</h3>
            <img src="../../../assets/destop.jpg" alt="destop" />
            <div class="price">
              <h2>
                98000 TK
                <span><del>5%</del></span>
              </h2>
              <i class="fa-solid fa-cart-shopping"></i>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="#">
            <h3>MSI Creator PS321URV 32" 16:9 4K HDR IPS Monitor</h3>
            <img src="../../../assets/router.webp" alt="router" />
            <div class="price">
              <h2>
                98000 TK
                <span><del>5%</del></span>
              </h2>
              <i class="fa-solid fa-cart-shopping"></i>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="#">
            <h3>MSI Creator PS321URV 32" 16:9 4K HDR IPS Monitor</h3>
            <img src="../../../assets/destop.jpg" alt="destop" />
            <div class="price">
              <h2>
                98000 TK
                <span><del>5%</del></span>
              </h2>
              <i class="fa-solid fa-cart-shopping"></i>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="#">
            <h3>MSI Creator PS321URV 32" 16:9 4K HDR IPS Monitor</h3>
            <img src="../../../assets/router.webp" alt="router" />
            <div class="price">
              <h2>
                98000 TK
                <span><del>5%</del></span>
              </h2>
              <i class="fa-solid fa-cart-shopping"></i>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="#">
            <h3>MSI Creator PS321URV 32" 16:9 4K HDR IPS Monitor</h3>
            <img src="../../../assets/destop.jpg" alt="destop" />
            <div class="price">
              <h2>
                98000 TK
                <span><del>5%</del></span>
              </h2>
              <i class="fa-solid fa-cart-shopping"></i>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Popular Product -->
<section>
  <div class="container">
    <div class="product-daily-deals">
      <div class="deals">
        <div class="content">
          <h1>Popular Products</h1>
          <div class="line"></div>
        </div>
        <a href="#category">
          Go to Popular Products
          <span><i class="fa-solid fa-angle-right"></i></span>
        </a>
      </div>
      <div class="line-black"></div>
      <div class="cards">
        <div class="card">
          <a href="#">
            <h3>MSI Creator PS321URV 32" 16:9 4K HDR IPS Monitor</h3>
            <img src="../../../assets/route.webp" alt="destop" />
            <div class="price">
              <h2>4000 TK</h2>
              <i class="fa-solid fa-cart-shopping"></i>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="#">
            <h3>MSI Creator PS321URV 32" 16:9 4K HDR IPS Monitor</h3>
            <img src="../../../assets/route2.webp" alt="router" />
            <div class="price">
              <h2>2000 TK</h2>
              <i class="fa-solid fa-cart-shopping"></i>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="#">
            <h3>MSI Creator PS321URV 32" 16:9 4K HDR IPS Monitor</h3>
            <img src="../../../assets/gift.jpg" alt="destop" />
            <div class="price">
              <h2>4040 TK</h2>
              <i class="fa-solid fa-cart-shopping"></i>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="#">
            <h3>MSI Creator PS321URV 32" 16:9 4K HDR IPS Monitor</h3>
            <img src="../../../assets/router.webp" alt="router" />
            <div class="price">
              <h2>1000 TK</h2>
              <i class="fa-solid fa-cart-shopping"></i>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="#">
            <h3>MSI Creator PS321URV 32" 16:9 4K HDR IPS Monitor</h3>
            <img src="../../../assets/destop.jpg" alt="destop" />
            <div class="price">
              <h2>9000 TK</h2>
              <i class="fa-solid fa-cart-shopping"></i>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- save money -->
<section>
  <div class="container">
    <div class="save-money">
      <img src="../../../assets/savemoney.png" alt="save-money" />
    </div>
  </div>
</section>

<!-- Laptop and Computer -->
<section>
  <div class="container">
    <div class="product-daily-deals">
      <div class="deals">
        <div class="content">
          <h1>Laptop and Computer</h1>
          <div class="line"></div>
        </div>
        <a href="#category">
          Go to Laptop and Computer
          <span><i class="fa-solid fa-angle-right"></i></span>
        </a>
      </div>
      <div class="line-black"></div>
      <div class="cards">
        <div class="card">
          <a href="#">
            <h3>HP 15s-fq5486TU Core i3 12th Gen 15.6" FHD Laptop</h3>
            <img src="../../../assets/laptop1.jpg" alt="Laptop" />
            <div class="price">
              <h2>4000 TK</h2>
              <i class="fa-solid fa-cart-shopping"></i>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="#">
            <h3>HP 15s-eq2171AU Ryzen 3 5300U 15.6" FHD Laptop</h3>
            <img src="../../../assets/laptop2.jpg" alt="router" />
            <div class="price">
              <h2>53000 TK</h2>
              <i class="fa-solid fa-cart-shopping"></i>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="#">
            <h3>HP 250 G8 Core i3 11th Gen 15.6" FHD Laptop</h3>
            <img src="../../../assets/laptop3.jpg" alt="destop" />
            <div class="price">
              <h2>64540 TK</h2>
              <i class="fa-solid fa-cart-shopping"></i>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="#">
            <h3>HP 15s-fq5486TU Core i3 12th Gen 15.6" FHD Laptop</h3>
            <img src="../../../assets/laptop1.jpg" alt="router" />
            <div class="price">
              <h2>45000 TK</h2>
              <i class="fa-solid fa-cart-shopping"></i>
            </div>
          </a>
        </div>
        <div class="card">
          <a href="#">
            <h3>HP 250 G8 Core i3 11th Gen 15.6" FHD Laptop</h3>
            <img src="../../../assets/laptop2.jpg" alt="destop" />
            <div class="price">
              <h2>75000 TK</h2>
              <i class="fa-solid fa-cart-shopping"></i>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Adds -->
<section>
  <div class="container">
    <div class="save-money">
      <img src="../../../assets/laptopfroms.png" alt="save-money" />
      <img src="../../../assets/nano.jpg" alt="save-money" />
    </div>
  </div>
</section>

<!-- Adds -->
<section>
  <div class="container">
    <div class="watch-phone">
      <img src="../../../assets/watch.jpg" alt="save-money" />
      <img src="../../../assets/phone.png" alt="save-money" />
    </div>
  </div>
</section>

<!-- Differents type of Brand -->
<section>
  <div class="container">
    <h1 style="font-size: 2rem">Brands</h1>
    <div class="brand">
      <img src="../../../assets/brand1.png" alt="brand" />
      <img src="../../../assets/brand2.png" alt="brand" />
      <img src="../../../assets/brand3.png" alt="brand" />
      <img src="../../../assets/brand4.png" alt="brand" />
      <img src="../../../assets/brand5.png" alt="brand" />
    </div>
  </div>
</section>

<section>
  <div class="newsletter">
    <h2>
      <i class="fa-solid fa-paper-plane"></i> Sign up to Newsletter ...and
      receive $20 coupon for first shopping
    </h2>
    <div class="nav-middle-area">
      <div class="search-item">
        <div class="search-input">
          <input
            id="searchInput"
            class="border-none p-1"
            type="text"
            placeholder="Search for Prod|"
            name="searchTerm"
            autocomplete="off"
            required=""
          />
        </div>
        <div class="search-btn">
          <button class="p-1 border-none radius-right">
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer Content-->

<section>
  <div class="container">
    <div class="show-content">
      <h2>
        Leading Computer, Laptop & Gaming PC Retail & Online Shop in Bangladesh
      </h2>
      <p>
        Technology has become a part of our daily lives and for a huge portion
        of our life, we depend on tech products daily. There is hardly a home in
        Bangladesh without a tech product. This is where we come in. Digihaat
        started as a Tech Product Shop way back in March 2007. We focused on
        giving the customers the best service possible. This is why Star Tech is
        one of The most trusted names in the tech industry of Bangladesh today.
        After a long 15-year journey; Digihaat. was certified with the renowned
        "ISO 9001:2015 certification" as a recognition for the best Quality
        Control Management System. As an "ISO 9001:2015 certified" organization;
        Digihaat. is now up to the international standards that specify a
        Quality Management System (QMS). This Certification denotes that this
        organization consistently maintains all sorts of regulatory requirements
        to provide products and services for meeting all sorts of customer
        requirements.
      </p>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="show-content">
      <h2>Best Laptop Shop in Bangladesh</h2>
      <p>
        Technology has become a part of our daily lives and for a huge portion
        of our life, we depend on tech products daily. There is hardly a home in
        Bangladesh without a tech product. This is where we come in. Digihaat
        started as a Tech Product Shop way back in March 2007. We focused on
        giving the customers the best service possible. This is why Star Tech is
        one of The most trusted names in the tech industry of Bangladesh today.
        After a long 15-year journey; Digihaat. was certified with the renowned
        "ISO 9001:2015 certification" as a recognition for the best Quality
        Control Management System. As an "ISO 9001:2015 certified" organization;
        Digihaat.
      </p>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="show-content">
      <h2>Best Desktop PC Shop In Bangladesh</h2>
      <p>
        Technology has become a part of our daily lives and for a huge portion
        of our life, we depend on tech products daily. There is hardly a home in
        Bangladesh without a tech product. This is where we come in. Digihaat
        started as a Tech Product Shop way back in March 2007. We focused on
        giving the customers the best service possible. This is why Star Tech is
        one of The most trusted names in the tech industry of Bangladesh today.
        After a long 15-year journey; Digihaat. was certified with the renowned
        "ISO 9001:2015 certification" as a recognition for the best Quality
        Control Management System. As an "ISO 9001:2015 certified" organization;
        Digihaat.
      </p>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="footer-content">
      <div class="footer-sections">
        <div class="content-area">
          <div class="box">
            <a href="#"
              ><img src="../../../assets/haatlogo.png" alt="brand" class="logo"
            /></a>
            <p>Got Questions ? Call us 24/7!</p>
            <h2>09613-011111</h2>
            <div class="address">
              <h3>Contact Info</h3>
              <p>
                Shop#334, Level#03, Lift#03, 69-71, New Elephant Road 1205
                Dhaka, Dhaka Division, Bangladesh
              </p>
            </div>
            <div class="social-icon">
              <a href=""><i class="fa-brands fa-facebook"></i></a>
              <a href=""><i class="fa-brands fa-instagram"></i></a>
              <a href=""><i class="fa-brands fa-linkedin"></i></a>
              <a href=""><i class="fa-brands fa-youtube"></i></a>
              <a href=""><i class="fa-brands fa-whatsapp"></i></a>
              <a href=""><i class="fa-brands fa-paypal"></i></a>
            </div>
          </div>
          <div class="box">
            <h2>Find It Fast</h2>
            <div class="link-item">
              <a href="">Security Surveillance</a>
              <a href="">AC & Home Appliance</a>
              <a href="">TV & Speaker</a>
              <a href=""> Home & Audio</a>
              <a href="">Entertainment</a>
              <a href="">Smart Phone & Tablets</a>
            </div>
          </div>
          <div class="box">
            <h2>Quick Links</h2>
            <div class="link-item">
              <a href=""> All categories</a>
              <a href="">About</a>
              <a href="">Contact</a>
              <a href=""> Wishlist</a>
              <a href="">Compare</a>
            </div>
          </div>
          <div class="box">
            <h2>Customer Care</h2>
            <div class="link-item">
              <a href="">My Account</a>
              <a href="">Track your Order</a>
              <a href="">Returns/Exchange</a>
              <a href=""> FAQ</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="footer-content">
    <p>© 2019-2023 digihaat.com.bd - All Rights Reserved</p>
    <div class="payment">
      <a href=""><i class="fa-brands fa-cc-mastercard"></i></a>
      <a href=""><i class="fa-brands fa-paypal"></i></a>
      <a href=""><i class="fa-brands fa-cc-visa"></i></a>
    </div>
  </div>
</footer>
